#body{
	background-color: #a5e2ff;
	height: 100%;
}
#headerbody{
	background-color: #a5e2ff;
	height: auto;
	overflow: hidden;
}
#footerbody{
	position: absolute;
    bottom: 30px;
	left: 50%;
	width: 500px;
	margin-left:-250px;
}

#title{
	text-align: center;
	font-size: 42;
	font-weight: bold;
	padding: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
}
#subtitle{
	text-align: center;
	font-size: 30;
	font-weight: bold;
	padding: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
}

#iTable{
	display: table;
	width: 40%;
	margin: auto;
	align: center;
}
#iTableRow{
	display: table-row;
}
#iTableHeader{
	display: table-cell;
	border-bottom: 3px solid #006596;
	background-color: #60cbff;
	font-weight:bold;
	text-align: center;
	padding: 2px;
}
#iTableCell{
	display: table-cell;
	padding: 3px 10px;
	border-bottom: 1px solid #006596;
	text-align: center;
}

#thrTable{
	display: table;
	width: 80%;
	margin: auto;
	align: center;
}
#thrTableRow{
	display: table-row;
}
#thrTableRow:nth-child(odd){
	display: table-row;
	background-color: #cceeff;
}
#thrTableHeader{
	display: table-cell;
	border-bottom: 3px solid #006596;
	background-color: #60cbff;
	font-weight:bold;
	text-align: center;
	padding: 2px;
}
#thrTableCell{
	width: auto;
	min-width: 140px;
	display: table-cell;
	padding: 3px 10px;
	border-bottom: 1px solid #006596;
	text-align: center;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: middle;
}
#thrTableLinkCell{
	width: auto;
	min-width: 75px;
	display: table-cell;
	padding: 3px 10px;
	border-bottom: 1px solid #006596;
	text-align: center;
	vertical-align: middle;
}

#replyTable{
	display: table;
	width: 80%;
	margin: auto;
	align: center;
}
#replyTableRow{
	display: table-row;
	width: 80%;
}
#replyTableRow_head{
	display: table-row;
	background: #4ca2ff;
	font-weight:bold;
}
#replyTableCell_link{
	width: auto;
	width: 75px;
	display: table-cell;
	border: 1px solid black;
	padding: 3px 10px;
	border-bottom: 1px solid #006596;
	text-align: center;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: middle;
}
#replyTableCell_timestamp{
	width: auto;
	width: 140px;
	display: table-cell;
	border: 1px solid black;
	padding: 3px 10px;
	border-bottom: 1px solid #006596;
	text-align: center;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: middle;
	font-style: italic
}
#replyTableCell{
	width: auto;
	min-width: 75px;
	display: table-cell;
	border: 1px solid black;
	padding: 3px 10px;
	border-bottom: 1px solid #006596;
	text-align: center;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: middle;
}

#inputWrapper{
	display: table;
	text-align: center;
	align: center;
	margin: auto;
}
#inputRow{
	display: table-row;
	text-align: center;
}
#inputLabel{
	display: table-cell;
	padding: 3px 10px;
	text-align: center;
}
#inputWrapperLeft{
	display: table;
	text-align: center;
	align: center;
	margin: auto;
	float:left;
	margin-left: 10%;
}
#inputWrapperCenter{
	display: table;
	text-align: center;
	align: center;
	margin: auto;
	float:center;
}
#inputWrapperRight{
	display: table;
	text-align: center;
	align: center;
	margin: auto;
	float:right;
	margin-right: 10%;
}