#body{
	background-color: #a5e2ff;
	height: 100%;
}

#title{
	text-align: center;
	font-size: 42;
	font-weight: bold;
	padding: 10px;
}

#subtitle{
	text-align: center;
	font-size: 30;
	font-weight: bold;
	padding: 10px;
}

#iTable{
	display: table;
	width: 40%;
	margin: auto;
	align: center;
}

#iTableRow{
	display: table-row;
}

#iTableHeader{
	display: table-cell;
	border-bottom: 3px solid #006596;
	background-color: #6bcfff;
	font-weight:bold;
	text-align: center;
	padding: 2px;
}

#iTableCell{
	display: table-cell;
	padding: 3px 10px;
	border-bottom: 1px solid #006596;
	text-align: center;
}